.groupRow{
    display: flex;
    flex-direction: row;
  }
  
  /* .groupCol{
    display:flex;
    flex-direction: column;
  } */
  
  .item{
    flex:1
  }

  .photo{
    /* height: 10%; */
    width: 10%;
    /* width: auto; */
  }